.features{
    padding:70px;
    background:#f8fafc;
    text-align:center;
}

.features h2{
    font-size:40px;
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    padding:30px;
    background:white;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#2563eb;
    margin-bottom:15px;
}